/* Position text in the middle of the page/image */
.full-cover-bg-image {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    opacity: 0.8;

    box-sizing: border-box;

}
.login-center-div {
    background-color: theme-color-level($theme_name,1); /* Fallback color */
    background-color: rgba(theme-color-level($theme_name,-1),0.75);/* Black w/opacity/see-through */
    color: theme-color-level('white',-1);
    font-weight: normal;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    /* Border sizing to border box */
    box-sizing: border-box;
}
